@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
    
}

a {
    background-color: maroon;
    padding: 15px;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: black;
    transition: 0.5s;
    background-color: rgba(255, 0, 0, 0.788);
    
}